# Baserow backend (DB 265 — AfterCitizen | Triaditza)
VITE_BASEROW_API=https://db2.aftergroup.org
VITE_BASEROW_TOKEN=

# Table IDs
VITE_BASEROW_CATEGORIES_TABLE_ID=2631
VITE_BASEROW_MUNICIPALITIES_TABLE_ID=2632
VITE_BASEROW_LEGAL_ACTS_TABLE_ID=2633
VITE_BASEROW_FIELD_TYPES_TABLE_ID=2634
VITE_BASEROW_FORM_SECTIONS_TABLE_ID=2635
VITE_BASEROW_DICTIONARIES_TABLE_ID=2636
VITE_BASEROW_DICTIONARY_ENTRIES_TABLE_ID=2637
VITE_BASEROW_FORM_TEMPLATES_TABLE_ID=2638
VITE_BASEROW_FIELDS_TABLE_ID=2639
VITE_BASEROW_SERVICES_TABLE_ID=2640
VITE_BASEROW_SERVICE_FEES_TABLE_ID=2641
VITE_BASEROW_SERVICE_LEGAL_REFERENCES_TABLE_ID=2642
VITE_BASEROW_FORMS_TABLE_ID=2643
VITE_BASEROW_SERVICE_FORMS_TABLE_ID=2644
VITE_BASEROW_FORM_FIELDS_TABLE_ID=2645
VITE_BASEROW_USERS_TABLE_ID=2646
VITE_BASEROW_SUBMISSIONS_TABLE_ID=2647
VITE_BASEROW_SUBMISSION_VALUES_TABLE_ID=2648
VITE_BASEROW_SUBMISSION_ATTACHMENTS_TABLE_ID=2649
VITE_BASEROW_SUBMISSION_EVENTS_TABLE_ID=2650
VITE_BASEROW_SUBMISSION_EMAIL_THREADS_TABLE_ID=2651

# Target email for submitted applications
VITE_SUBMISSION_EMAIL=deloviodstvo@triaditza.bg
