# dependencies
node_modules
.pnp
.pnp.js

# production builds
dist
dist-ssr
build

# environment
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.swp

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
*.local
.netlify
*.pdf
scripts/td_dump/TD-001_OFFICIAL.txt
scripts/td_dump/TD-001_RENDERED.txt
scripts/td_dump/TD-002_OFFICIAL.txt
scripts/td_dump/TD-002_RENDERED.txt
scripts/td_dump/TD-003_OFFICIAL.txt
scripts/td_dump/TD-003_RENDERED.txt
scripts/td_dump/TD-004_OFFICIAL.txt
scripts/td_dump/TD-004_RENDERED.txt
scripts/td_dump/TD-005_OFFICIAL.txt
scripts/td_dump/TD-005_RENDERED.txt
scripts/td_dump/TD-006_OFFICIAL.txt
scripts/td_dump/TD-006_RENDERED.txt
scripts/td_dump/TD-007-1_OFFICIAL.txt
scripts/td_dump/TD-007-1_RENDERED.txt
scripts/td_dump/TD-007-2_OFFICIAL.txt
scripts/td_dump/TD-007-2_RENDERED.txt
scripts/td_dump/TD-008-1_OFFICIAL.txt
scripts/td_dump/TD-008-1_RENDERED.txt
scripts/td_dump/TD-008-2_OFFICIAL.txt
scripts/td_dump/TD-008-2_RENDERED.txt
scripts/thumbs/TD-001/official_p1.png
scripts/thumbs/TD-001/official_p2.png
scripts/thumbs/TD-001/rendered_p1.png
scripts/thumbs/TD-001/rendered_p2.png
scripts/thumbs/TD-002/official_p1.png
scripts/thumbs/TD-002/rendered_p1.png
scripts/thumbs/TD-002/rendered_p2.png
scripts/thumbs/TD-003/official_p1.png
scripts/thumbs/TD-003/rendered_p1.png
scripts/thumbs/TD-003/rendered_p2.png
scripts/thumbs/TD-004/official_p1.png
scripts/thumbs/TD-004/official_p2.png
scripts/thumbs/TD-004/rendered_p1.png
scripts/thumbs/TD-004/rendered_p2.png
scripts/thumbs/TD-005/official_p1.png
scripts/thumbs/TD-005/rendered_p1.png
scripts/thumbs/TD-005/rendered_p2.png
scripts/thumbs/TD-006/official_p1.png
scripts/thumbs/TD-006/rendered_p1.png
scripts/thumbs/TD-006/rendered_p2.png
scripts/thumbs/TD-007-1/official_p1.png
scripts/thumbs/TD-007-1/rendered_p1.png
scripts/thumbs/TD-007-1/rendered_p2.png
scripts/thumbs/TD-007-1/rendered_p3.png
scripts/thumbs/TD-007-2/official_p1.png
scripts/thumbs/TD-007-2/rendered_p1.png
scripts/thumbs/TD-007-2/rendered_p2.png
scripts/thumbs/TD-007-2/rendered_p3.png
scripts/thumbs/TD-008-1/official_p1.png
scripts/thumbs/TD-008-1/rendered_p1.png
scripts/thumbs/TD-008-1/rendered_p2.png
scripts/thumbs/TD-008-2/official_p1.png
scripts/thumbs/TD-008-2/rendered_p1.png
scripts/thumbs/TD-008-2/rendered_p2.png
